POSTGRES_DB=comunicacion_umsa
POSTGRES_USER=ccs_user
POSTGRES_PASSWORD=123456
JWT_SECRET=12345678901234567890123456789012
JWT_EXPIRY=28800
FRONTEND_URL=http://localhost
BACKEND_URL=http://localhost
BACKEND_PORT=8000
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=mchirinost@fcpn.edu.bo
MAIL_PASS=sfotqjgexiyythvg
MAIL_FROM_NAME="Comunicación Social UMSA"
MAIL_REPLY_TO=mchirinost@fcpn.edu.bo
ADMIN_EMAIL=mchirinost@fcpn.edu.bo
